@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 目次表示用 */
.js-toc li {
  list-style-type: none;
  margin-bottom: 4px;
  padding-left: 15px;
  position: relative;
}

.js-toc a {
  text-decoration: none;
  transition: color 0.3s ease;
  opacity: 0.5;
}

.js-toc a:hover {
  opacity: 1;
}

.js-toc a.is-active-link {
  font-weight: bold;
  opacity: 1;
}

.wrap {
  position: relative;

  .tooltip {
    color: #fff;
    font-size: 12px;
    padding: 8px 8px 9px;
    background-color: #000;
    border-radius: 6px;
    white-space: nowrap;
    transition-duration: 0.2s;

    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      content: '';
      width: 12px;
      height: 8px;
      background-color: #000;
      clip-path: polygon(0 0, 100% 0%, 50% 100%);

      position: absolute;
      bottom: -7px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}